.flex-container{
    width: 99%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 30px;
    align-items: center;
    font-size:xx-large;
    color: aliceblue;
    background-color: rgb(190, 248, 248);
}
.header{
    width: 97%;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: rgb(90, 199, 193);
}
.content{
    display: flex;
    flex-direction: row;
    width:97%;
    margin-top: 2%;
}
.article{
    border-radius: 15px;
    background-color: orange;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 20px 0 0 20px;
}
.posts{
    display: flex;
    flex-direction:column;
    /* justify-content: space-around; */
    margin: 2%;
    margin-top: 3%;
}
.post{
    border-radius: 15px;
    background-color: rgb(255, 196, 0);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: start;
    height: 200px;
    margin: 1%;
}
.title{
    border-radius: 15px;
    background-color: rgb(119, 119, 119);
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.description{
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 110px;
    border-radius: 15px;
    background-color: rgb(250, 90, 90);
    color: black;
    padding-left: 10px;
}