.top{
    width: 5.26%;
    margin-bottom: 15px;
}
.side{
    margin: auto;
}
.row{
    text-align: center;
    display: flex;
}
.cell{
  width: 5.26%;
  box-sizing: border-box;
}
.element{
  margin: 2px;
  border: 1px solid black;
}
.blue{
    background-color: rgb(109, 196, 255);
}
.red{
    background-color: rgb(245, 124, 124);
}
.yellow{
    background-color: rgb(247, 247, 125);
}
.green{
    background-color: rgb(150, 248, 150);
}
.first{
    margin-left: 8px;
}